{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'CSS/main/home.css' %}">
</head>
<div id="main_body">
    <h1 class="">Total cost of the month: <span class=""><a id="total_cost_of_m"></a></span>
    </h1>
    <h1 class="">Total cost of the year: <span class=""><span id="total_cost_of_y"></span></span></h1>
</div>
{% endblock content %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'JS/main/home.js' %}"></script>
{% endblock script %}