{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'CSS/main/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div id="main_body">
    <h1 class="font-sans text-3xl">Total cost of the month: <span class="text-yellow-800"><a
                id="total_cost_of_m"></a></span>
    </h1>
    <h1 class="font-sans text-3xl">Total cost of the year: <span class="text-yellow-800"><span
                id="total_cost_of_y"></span></span></h1>
</div>
{% endblock content %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'JS/main/home.js' %}"></script>
{% endblock script %}