body.main {
  background-color: rgb(238, 238, 238);
}
div.bottom {
  height: 100px;
  background-color: black;
  text-align: center;
  bottom: 0%;
}
div.bottom > a {
  font-style: normal;
  color: aliceblue;
}
.heigt {
  min-height: 100% !important;
  background-color: rgb(110, 110, 110);
}
body {
  background-color: rgb(230, 230, 230);
}
