{% load static %}
<link rel="stylesheet" href="{% static 'CSS/components/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'CSS/min.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<nav id="header" v-cloak class="header">
  <div class="header__left">
    <h1><span>TO</span>S</h1>
  </div>
  <div v-if="isLogged" class="header__right">
    <a href="/login/"><h4>Login</h4></a>
    <a href="/sign_up/"><h4>Sign_up</h4></a>
    <a href="/cost-manager-by-tos/Cost_of_month/"><h4>Show more</h4></a>
  </div>
  <div v-else class="header__right">
    <a href="/logout/"><h4>Logout</h4></a>
    <a href="/cost-manager-by-tos/Cost_of_month/"><h4>Show more</h4></a>
    <div class="user_info">
      <h5>About</h5>
    </div>
  </div>

</nav>
<script src="https://unpkg.com/vue@next"></script>
<script src="{% static 'JS/components/navbar.js' %}"></script>
