{% load static %}
<link rel="stylesheet" href="{% static 'CSS/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'CSS/min.css' %}" />
<nav class="header">
    <div class="header__left">
      <h1><span>TO</span>S</h1>
    </div>
    <div class="header__right">
      <a href="/login/"><h4>Login</h4></a>
      <a href="/sign_up/"><h4>Sign_up</h4></a>
      <a href="/cost-manager-by-tos/Cost_of_month/"><h4>Show more</h4></a>
    </div>
</nav>
<script src="{% static 'JS/nanbar.js' %}"></script>