{% extends "base.html" %} {% block title %}home{% endblock title %}
{% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'CSS/index.css' %}" />
<link rel="stylesheet" href="{% static 'CSS/min.css' %}" />

<div class="container-md">
  <form action="/cost-manager-by-tos/add_todo/" class="form" method="post">
    {% csrf_token %}
    <div class="row">
      <h2 class="col-6">Task</h2>
      <h2 class="col-6">Amount</h2>
      <div class="col-6 col-md-4 col-lg-4 col-xl-4">
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Type the task here.." name="content"
          required />
      </div>
      <div class="col-6 col-md-4 col-lg-4 col-xl-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Rs</span>
          </div>
          <input placeholder="amount" type="text" class="form-control"
            aria-label="Dollar amount (with dot and two decimal places)" name="amount" />
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-4 col-xl-4">
        <input class="form-control mb-2 mr-sm-2" required name="person" placeholder="person name" type="text" />
      </div>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Amount</th>
      <th scope="col">Person-used</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody id="table_body_element">
  </tbody>
</table>
<h2>
  complete amount =
  <span id="complete_cost" class="badge badge-warning"></span>
</h2>
<div class="bottom">
  <a href="/cost-manager-by-tos/Cost_of_month/"> Show more</a>
</div>
<script src="{% static 'JS/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'JS/index.js' %}"></script>
<script src="{% static 'JS/bootstrap.min.js' %}"></script>
{% endblock content %}