{% extends "base.html" %} {% block title %}home{% endblock title %} 
{% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'CSS/index.css' %}" />
<link rel="stylesheet" href="{% static 'CSS/min.css' %}" />

<body id="main_body">
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <div class="container">
          <form action="/add_todo/" class="form" method="post">
            {% csrf_token %}
            <h2 id="testing">Add item</h2>
            <input
              type="text"
              class="form-control mb-2 mr-sm-2"
              placeholder="Type the task here.."
              name="content"
              required
            />
            <input
              type="text"
              class="form-control mb-2 mr-sm-2"
              placeholder="type the amount that used to do the task.."
              required
              name="amount"
            />
            <br />
            <label
              >Name of the person used
              <input
                class="form-control mb-2 mr-sm-2"
                required
                name="person"
                placeholder="person name"
                type="text"
            /></label>
            <br />
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Amount</th>
              <th scope="col">User</th>
              <th scope="col">Task</th>
            </tr>
          </thead>
          <tbody id="table_body_element"></tbody>
        </table>
        <h2>
          complete amount =
          <span class="badge badge-warning"> {{complete_amount}} </span>
        </h2>
      </div>
    </div>
  </div>
  <div class="bottom">
    <a href="/Cost_of_month/">
      Show more</a>
  </div>
</body>
<script src="{% static 'JS/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'JS/bootstrap.min.js' %}"></script>

<script>
  const tableDivElement = $("#table_body_element")

  function loadCostTable(costTableEl) {
    const xhr = new XMLHttpRequest
    //xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    //xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    const method = "GET"
    const url = "/list_view_of_costs"
    const responseType = "json"
    
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
      const serverResponse = xhr.response
      var listStrTemp = "";
      var listedItems = serverResponse.response;
      var i;

      for (i = listedItems.length-1; i > -1; i--) {
        var element = listedItems[i]
        var currentItem = formatedCostElements(element)
        listStrTemp += currentItem
      }
      costTableEl.replaceWith(listStrTemp)
    };
    xhr.send()
  }

  loadCostTable(tableDivElement)

  function deleteButton() {
    return "<form action='/delete_todo/{{todo_item.id}}' method='post'>"
            +"<div class='float-right'>"
              +"<button type='submit' class='btn btn-danger'>Delete</button>"
            +"</div>"
          +"</form>"
  }

  function formatedCostElements(costarg) {
    var formatedcCE =
      "<tr><td>" +
      costarg.amount +
      "</td><td>" +
      costarg.person_used +
      "</td><td>" +
      costarg.description +
      deleteButton()+
      "</td></tr>";
    return formatedcCE;
  }
  while ($(document).ready() === false) {
    $("#main_body").replaceWith(
      "<img style='height:30px; width:30px;' src='{% static 'img/TOS_size1_c_W.png' alt='TOS'>"
    )
  }
</script>
{% endblock content %}
